extends ../../layout/layout-dash
block container
	.dash-main
		.container
			p.title Thống kê học phí
			.bg-white.p-20.radius-16.mt-2.mb-5
				form(action="")
					.create-group.mt-2.align-items-end
						.create-item(style="width: 45%")
							label(for='thang') Tháng
							select.mb-0.not-focus(class="form-control", id="thang", name="thang", required)
								option(value="") Hãy chọn tháng 
								for th in thang
									option(value=th.THANG, selected =(th.THANG==THANG?true:false))= "Tháng "+ th.THANG 
						.create-item(style="width: 45%")
							label(for='nam') Năm
							select.mb-0.not-focus(class="form-control", id="nam", name="nam", required)
								option(value="") Hãy chọn năm
								for th in nam
									option(value=th.NAM, selected =(th.NAM==NAM?true:false))= "Năm "+ th.NAM 
						button.button.mb-0(type="submit") Xem
			.flex.flex-end
				a.button(href=`/admin/thongke/hocphi/xuatfile?thang=${THANG}&nam=${NAM}`) Xuất Excel
			if messages.success
				+alert(messages)
			if messages.fail
				+alertNot(messages)
			.bg-white.p-20.radius-16.mt-2
				if (hocphi.length > 0)
					.table-responsive
						table.table.no-wrap.user-table.mb-0 
							thead
								tr.borderbottom
									th(scope="col", class="border-0 text-uppercase font-medium pl-4") #
									th(scope="col", class="border-0 text-uppercase font-medium") Mã hv
									th(scope="col", class="border-0 text-uppercase font-medium") Họ tên
									th(scope="col", class="border-0 text-uppercase font-medium") Chi Nhánh
									th(scope="col", class="border-0 text-uppercase font-medium") Tên KH
									th(scope="col", class="border-0 text-uppercase font-medium") Tên Lớp
									th(scope="col", class="border-0 text-uppercase font-medium") Học phí
							tbody
								- stt = 1
								for kh in hocphi
									tr
										td(class="pl-4")= (perPage * current) - (perPage - stt++)
										td
											p.text-overflow(class="font-medium mb-0")= kh.MA_HV
										td
											p.text-overflow(class="font-medium mb-0")= kh.HO_TEN
										td
											p.text-overflow(class="font-medium mb-0")= kh.MA_CHI_NHANH
										td
											p.text-overflow(class="font-medium mb-0")= kh.TEN_KH
										td
											p.text-overflow(class="font-medium mb-0")= kh.TEN_LOP
										td
											p.text-overflow(class="font-medium mb-0")= kh.HOC_PHI
								tr
									td 
									td 
									td 
									td
									td
									td Tổng
									td= tong + ' Đồng'
						+pagination(current, pages, "/admin/thongke/hocphi?thang="+ THANG + "&nam="+ NAM, "/admin/thongke/hocphi?thang="+ THANG + "&nam="+ NAM+ "&trang=")
				else 
					h5.p-5= `Tháng ${THANG} chưa có ai đóng học phí`
			
			.flex.flex-end.mt-4
				a.button(href="/admin/dmkh/khoahoc") Trở về 

