extends ../../layout/layout-dash
block container
    .dash-main
        .container
            p.title Quản lý tài khoản quản trị viên
            .flex.justify-around
                button.button(data-toggle="modal" ,data-target=`#themtk`) Thêm tài khoản mới
                .modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirm-modal-title', aria-hidden='true', id= `themtk`)
                    .modal-dialog(role='document')
                        .modal-content
                            form(action="/admin/quantrivien/themqtv", method="post") 
                                .modal-header
                                    h5.modal-title#confirm-modal-title Thêm tài khoản
                                    button.close-alert.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') &times;
                                .modal-body
                                    .create-group.mt-2
                                        .create-item.w-100
                                            label(for='mk') Mật khẩu
                                            input(type='password', id='matkhau', name='mk', required)
                                .modal-footer
                                    button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                                    button.btn.btn-success(type="submit") Thêm
            if messages.success
                +alert(messages)
            if messages.fail
                +alertNot(messages) 
            .bg-white.p-20.radius-16.mt-2
                .table-responsive
                    table.table.no-wrap.user-table.mb-0 
                        thead
                            tr.borderbottom
                                th(scope="col", class="border-0 text-uppercase font-medium pl-4") #
                                th(scope="col", class="border-0 text-uppercase font-medium") Mã Quản trị viên
                                th(scope="col", class="border-0 text-uppercase font-medium") Đổi mật khẩu
                                th(scope="col", class="border-0 text-uppercase font-medium") Xóa tài khoản
                        tbody
                            - stt = 1
                            for qtv in listQTV
                                tr
                                    td(class="pl-4")= stt++
                                    td
                                        p.text-overflow(class="font-medium mb-0")= qtv.MA_QTV
                                    td
                                        button(data-toggle="modal" ,data-target=`#mk${qtv.MA_QTV}`, class="btn btn-outline-info btn-circle btn-lg btn-circle ")
                                            i(class="fa fa-lock") 
                                        .modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirm-modal-title', aria-hidden='true', id= `mk${qtv.MA_QTV}`)
                                            .modal-dialog(role='document')
                                                .modal-content
                                                    form(action=`/admin/quantrivien/doimk?maqtv=${qtv.MA_QTV}`, method="post") 
                                                        .modal-header
                                                            h5.modal-title#confirm-modal-title Đổi mật khẩu
                                                            button.close-alert.close(type='button', data-dismiss='modal', aria-label='Close')
                                                                span(aria-hidden='true') &times;
                                                        .modal-body
                                                            .create-group.mt-2
                                                                .create-item.w-100
                                                                    label(for='mk') Mật khẩu
                                                                    input(type='password', id='matkhau', name='mk', required)
                                                        .modal-footer
                                                            button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                                                            button.btn.btn-success(type="submit") Đổi mật khẩu
                                    td
                                        button(data-toggle="modal" ,data-target=`#xoa${qtv.MA_QTV}`, class="btn btn-outline-info btn-circle btn-lg btn-circle ")
                                            i(class="fa fa-trash") 
                                        +confirm-modal(`xoa${qtv.MA_QTV}`,'Xác nhận xóa học viên', 'Bạn có chắc chắn muốn xóa học viên này?', 'Xóa', `/admin/quantrivien/xoaqtv?maqtv=${qtv.MA_QTV}`)
            .flex.flex-end.mt-4
                a.button(href="/admin") Trở về

