extends ../../layout/layout-dash
block container
	.dash-main
		.container
			p.title Tìm kiếm thông tin học viên
			form.bg-white.search-form.mb-4(action="/admin/hocvien/timkiem", method="get")
				.login-group
					label(for='hoten') Họ và tên
					input.mb-0.h-50(type='text', id='hoten', name='hoten', value= hoten)
				.login-group
					label(for='sdt') Số điện thoại
					input.mb-0.h-50(type='text', id='sdt', name='sdt', , value= sdt)
				.login-group.button-search
					button(type='submit') Tìm kiếm
			if (kq !== 0)
				p.mb-3 Kết quả tìm kiếm: Có #{kq} kết quả được tìm thấy
			.bg-white.p-20.radius-16.mt-2
				.table-responsive
					table.table.no-wrap.user-table.mb-0 
						thead
							tr.borderbottom
								th(scope="col", class="border-0 text-uppercase font-medium pl-4") #
								th(scope="col", class="border-0 text-uppercase font-medium") Họ và tên
								th(scope="col", class="border-0 text-uppercase font-medium") Giới tính
								th(scope="col", class="border-0 text-uppercase font-medium") Số điện thoại
								th(scope="col", class="border-0 text-uppercase font-medium") Email
								th(scope="col", class="border-0 text-uppercase font-medium") Địa chỉ
								th(scope="col", class="border-0 text-uppercase font-medium") Chức năng
						tbody
							- stt = 1
							for hv in listHv 
								tr
									td(class="pl-4")= (perPage * current) - (perPage - stt++)
									td
										p.text-overflow(class="font-medium mb-0")= hv.HO_TEN
									td
										if (hv.GIOI_TINH === 1)
											p.text-overflow(class="font-medium mb-0") Nam
										else 
											p.text-overflow(class="font-medium mb-0") Nữ
									td
										p.text-overflow(class="font-medium mb-0")= hv.SDT
									td
										p.text-overflow(class="font-medium mb-0")= hv.EMAIL
									td
										p.text-overflow(class="font-medium mb-0")= hv.DIA_CHI
									td
										a(href="", class="btn btn-outline-info btn-circle btn-lg btn-circle ")
											i(class="fa fa-info") 
										a(href="", class="btn btn-outline-info btn-circle btn-lg btn-circle ")
											i(class="fa fa-trash") 
										a(href="", class="btn btn-outline-info btn-circle btn-lg btn-circle ")
											i(class="fa fa-edit") 
				.pagination.row
					if (pages > 0)
						nav.mx-auto
							ul.pagination.justify-center
								if (Number(current) === 1)
									li.page-item.disabled
										a.page-link(href="/admin/hocvien/timkiem?hoten="+hoten+"&sdt="+sdt) Đầu
								else
									li.page-item
										a.page-link(href="/admin/hocvien/timkiem?hoten="+hoten+"&sdt="+sdt) Đầu
								if (Number(current) > 3)
									- index = Number(current) - 2
								else 
									- index = 1
								if (Number(index) !== 1)
									li.page-item.disabled
										a.page-link(href="#") ...
								while (index < Number(current) + 2 && Number(index) <= pages)
									if ( Number(index) === current)
										li.page-item.active
											a.page-link(href="/admin/hocvien/timkiem?hoten="+hoten+"&sdt="+sdt+"&trang="+index)= index
										- index++
									else
										li.page-item
											a.page-link(href="/admin/hocvien/timkiem?hoten="+hoten+"&sdt="+sdt+"&trang="+index)= index
										- index++
								if (index === current + 2 && index < pages)
									li.page-item.disabled
										a.page-link(href="#") ...
								if (current === pages)
									li.page-item.disabled
										a.page-link(href="/admin/hocvien/timkiem?hoten="+hoten+"&sdt="+sdt+"&trang="+pages) Cuối
								else 
									li.page-item
										a.page-link(href="/admin/hocvien/timkiem?hoten="+hoten+"&sdt="+sdt+"&trang="+pages) Cuối
			.flex.flex-end.mt-4
				a.button(href="/admin/hocvien") Trở về




