extends ../../layout/layout-dash
block container
    .dash-main
        .container
            p.title Quản lý thông tin giáo viên
            .flex.justify-around
                a.button(href="/admin/giaovien/themgiaovien") Thêm giáo viên mới 
                form.search-form-full(action="/admin/giaovien", method="get", role="form")
                            input(type="text", name="timkiem", value= hoten,placeholder="Tìm kiếm")
            .bg-white.p-40.radius-16.mt-2
                for gv in listGv
                    a(href="/admin/giaovien/xemgiaovien?magv="+gv.MA_GV).member-entry
                        .member-img.mr-20
                            img.img-rounded(src="https://bootdey.com/img/Content/avatar/avatar1.png", alt="avatar")
                        .member-detail
                            h4.text-20.mb-3= gv.HO_TEN
                            .row.info-list
                                .col-sm-4.flex.mb-3
                                    p.mr-10 
                                        i(class="fa-regular fa-calendar-days")
                                    +formatDate(gv.NGAY_SINH)
                                .col-sm-4.flex.mb-3
                                    p.mr-10
                                        i.fa.fa-location-dot
                                    p= gv.DIA_CHI 
                                .col-sm-4.flex.mb-3
                                    p.mr-10
                                        i.fa.fa-phone
                                    p= gv.SDT
                                .col-sm-4.flex.mb-3
                                    p.mr-10
                                        i.fa.fa-envelope
                                    p= gv.EMAIL
                                .col-sm-4.flex.mb-3
                                    p.mr-10
                                        i.fa.fa-school-flag
                                    p= gv.TRINH_DO		
                if (!tk)
                    +pagination(current, pages, "/admin/giaovien", "/admin/giaovien?trang=")
                else
                    +pagination(current, pages, `/admin/giaovien?timkiem=${hoten}`, `/admin/giaovien?timkiem=${hoten}&trang=`)

            .flex.flex-end.mt-4
                a.button(href="/admin") Trở về

