extends ../layout/layout-dash
block container
	.dash-main
		.container
			p.title Quản lý thông tin học viên
			.flex.justify-around
				a.button(href="/admin/hocvien/timkiem") Tìm kiếm 
				a.button(href="/admin/hocvien/themhocvien") Thêm học viên mới 
			.bg-white.p-20.radius-16.mt-2
				.table-responsive
					table.table.no-wrap.user-table.mb-0 
						thead
							tr.borderbottom
								th(scope="col", class="border-0 text-uppercase font-medium pl-4") #
								th(scope="col", class="border-0 text-uppercase font-medium") Họ và tên
								th(scope="col", class="border-0 text-uppercase font-medium") Giới tính
								th(scope="col", class="border-0 text-uppercase font-medium") Số điện thoại
								th(scope="col", class="border-0 text-uppercase font-medium") Email
								th(scope="col", class="border-0 text-uppercase font-medium") Địa chỉ
								th(scope="col", class="border-0 text-uppercase font-medium") Chức năng
						tbody
							- stt = 1
							for hv in listHv 
								tr
									td(class="pl-4")= (perPage * current) - (perPage - stt++)
									td
										p.text-overflow(class="font-medium mb-0")= hv.HO_TEN
									td
										if (hv.GIOI_TINH === 1)
											p.text-overflow(class="font-medium mb-0") Nam
										else 
											p.text-overflow(class="font-medium mb-0") Nữ
									td
										p.text-overflow(class="font-medium mb-0")= hv.SDT
									td
										p.text-overflow(class="font-medium mb-0")= hv.EMAIL
									td
										p.text-overflow(class="font-medium mb-0")= hv.DIA_CHI
									td
										a(href="/admin/hocvien/xemhocvien?mahv="+hv.MA_HV, class="btn btn-outline-info btn-circle btn-lg btn-circle ")
											i(class="fa fa-info") 
										a(href="/admin/hocvien/suahocvien?mahv="+hv.MA_HV, class="btn btn-outline-info btn-circle btn-lg btn-circle ")
											i(class="fa fa-edit") 
										a(href="/admin/hocvien/xoahocvien?mahv="+hv.MA_HV, class="btn btn-outline-info btn-circle btn-lg btn-circle ")
											i(class="fa fa-trash") 
				.pagination.row
					if (pages > 0)
						nav.mx-auto
							ul.pagination.justify-center
								if (Number(current) === 1)
									li.page-item.disabled
										a.page-link(href="/admin/hocvien") Đầu
								else
									li.page-item
										a.page-link(href="/admin/hocvien") Đầu
								if (Number(current) > 3)
									- index = Number(current) - 2
								else 
									- index = 1
								if (Number(index) !== 1)
									li.page-item.disabled
										a.page-link(href="#") ...
								while (index < Number(current) + 2 && Number(index) <= pages)
									if ( Number(index) === current)
										li.page-item.active
											a.page-link(href="/admin/hocvien?trang="+index)= index
										- index++
									else
										li.page-item
											a.page-link(href="/admin/hocvien?trang="+index)= index
										- index++
								if (index === current + 2 && index < pages)
									li.page-item.disabled
										a.page-link(href="#") ...
								if (current === pages)
									li.page-item.disabled
										a.page-link(href="/admin/hocvien?trang="+pages) Cuối
								else 
									li.page-item
										a.page-link(href="/admin/hocvien?trang="+pages) Cuối
			.flex.flex-end.mt-4
				a.button(href="/admin") Trở về

